body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.noticia {
    width: 450px;
    border: 2px solid black;
    width: fit-content;
    /* ajusta el ancho al ancho del contenido */
    padding: 1em 1em 1em 1em;
    border-radius: 2%;
    transition: 1s;
    margin-top: 1em;
}

.noticia:hover {
    background-color: black;
}

.centrar {
    border: 2px solid green;
    width: 60vw;
    margin: auto;
    padding: 3em;
}